// COULOURS
$white: #FFF;
$black: #000;

$appLightBlack: #191F28;
$appDarkGrey: #4A4A4A;
$appGrey: #B6B6B7;
$appLightGrey: #D8D8D8;
$appVeryLightGrey: #F0F0F0;
$appSoftWhite: #F8F9FA;


$appBlue: #3E75C8;
$appGreen: #4CCBAB;
$appRed: #E56590;
$appSoftRed: #FFB88C;
