@import './utils/styles/_variables.scss';

* {
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: #49220d;
}

html, body {
  font-size: 16px;
}

h1, h2, h3, h4 {
  margin: 0;
}
